/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('../assets/font.css');
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
body{
  font-family: 'Bold-Mine';
}
p,button,input{
  font-family: 'Bold-Mine'!important;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  -webkit-overflow-scrolling: unset;
  background-color: #1b2447;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
button,
textarea {
  outline: none;
  border: 0;
  box-shadow: 0;
  -webkit-appearance: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nav-mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-mask img{
  width: 100%;
}
.text-shadow {
  -webkit-text-stroke: 2px #3b1d1b;
  text-stroke: 2px #3b1d1b;
}
.ant-spin-dot-item{
  background-color:#f5e16d;
}

.commit-soon{
  color:white;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}
